* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;

}


.centro {
    width: 500px;
}

.centro h1 {
    color: black;
    font-family: cursive;
}


main {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

button {
    
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
    border-radius: 4px;
    border: solid;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 30px;

}